<!DOCTYPE html>
<html>
<head>
  <title>SemanticUiRails</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="m_menu" class="ui floating sidebar inverted vertical  menu">
  <a href="/signup" class="item">      <!--Using standard web syntax -->
    <i class="menu icon"></i> User Signup
  </a>
  <a href=" <%= "#{example_2_path}" %>" class="item"> <!-- Using Rails path helper -->
    <i class="square outline icon"></i> Example 2
  </a>
  <%= link_to "<i class='browser icon'></i> Example 3".html_safe, example_3_path, class: "item" %>
  <%= link_to "<i class='cubes icon'></i> Example 4".html_safe, example_4_path, class: "item" %>
</div>

<div class="pusher">
<div id="header">

  <%= image_tag("Waterfall-HD-Wallpaper2.jpg", id: "bkgnd") %>

  <div id="mainHead">
    <div id="menu" class="ui pointing menu inverted fluid four item">

      <a href="/signup" class="item">      <!--Using standard web syntax -->
        <i class="menu icon"></i> User Signup
      </a>
      <a href=" <%= "#{example_2_path}" %>" class="item"> <!-- Using Rails path helper -->
        <i class="square outline icon"></i> Example 2
      </a>
      <!--Now use full Rails link_to syntax with Semantic-UI-->
      <%= link_to "<i class='browser icon'></i> Example 3".html_safe, example_3_path, class: "item" %>
      <%= link_to "<i class='cubes icon'></i> Example 4".html_safe, example_4_path, class: "item" %>
    </div>
    <button id="m_btn" class="ui labeled icon button black">
      <i class="list layout icon"></i>
      Menu
    </button>
  </div>

  <!--Note that everything in the body must be in the "pusher"-->
  <h2 id="News" class="ui center aligned icon  inverted huge header">
    <i class="circular newspaper red inverted icon "></i>
    <div class="content red">
      Semantic-UI for Rails
    </div>
  </h2>
  <h2 id="smallNews" class="ui center aligned header inverted">
    <i class="newspaper inverted icon "></i>

    <div class="content">
      Semantic-UI for Rails
    </div>
  </h2>
</div>

<%= yield %>
</div>
<!--end of pusher -->
</body>
</html>
